@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Lato:wght@400;700;900&family=Lobster&family=Poppins:wght@400;500;600;700;800;900&display=swap');



@layer base {
    *{
        @apply font-[Poppins]
       
      
       
    }
        input{
            @apply focus:outline-none focus:bg-slate-600 bg-[rgb(41,55,75)]  w-[100%] py-2  px-2  border-b border-gray-500 focus:rounded
        }
        label{
            @apply block px-1
        }
       
    }
